.vscode/settings.json
df_acidentes_sp_motos_all.csv
df_acidentes_sp_moto.csv
08_EDA_conclusões.ipynb
MODELAGEM_acidentes_moto_SP.ipynb
Weather_API_data/df_dados_API2_BOM.csv
Weather_API_data/df_dados_API_BOM.csv
Docker/dockerfile_example.txt
05_Modeling_CORR.ipynb
06_Train_pipeline.py
04_Balancing.ipynb
04_Balancing_test.ipynb
1.1_Maps_API.ipynb
2.1_Weather_API.ipynb
Comp_pandemia.ipynb
ETL_acidentes_moto_SP.ipynb
ETL2_Acidentes.ipynb
ETL4_Acidentes.ipynb
Visualizacao.ipynb
teste_weather.ipynb
here_test.py
.gitignore
teste_pipeline.ipynb