.vscode/settings.json
df_acidentes_sp_motos_all.csv
df_acidentes_sp_moto.csv
08_EDA_conclusões.ipynb
MODELAGEM_acidentes_moto_SP.ipynb
Docker/dockerfile.txt
.gitignore
Weather_API_data/df_dados_API2_BOM.csv
Weather_API_data/df_dados_API_BOM.csv
Docker/dockerfile_example.txt
RFECV.png
predict.csv
MODELAGEM_acidentes_moto_SP.ipynb
MODELAGEM_acidentes_moto_SP.ipynb
05_Modeling_CORR.ipynb
07_app_novo.py
X_test.csv
06_Train_pipeline.py
06_Train_ind.py
04_Balancing.ipynb
04_Balancing_test.ipynb
1.1_Maps_API.ipynb
2.1_Weather_API.ipynb
Comp_pandemia.ipynb
ETL_acidentes_moto_SP.ipynb
ETL2_Acidentes.ipynb
ETL4_Acidentes.ipynb
logo.PNG
Visualizacao.ipynb
teste_weather.ipynb
predict095.csv
.gitignore
logo2.PNG
here_test.py
.gitignore
logo2.PNG
.gitignore
predict012.csv
teste_pipeline.ipynb
geopy_test.py
